<div class="container">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">IES Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="accounts" routerLinkActive="active" class="nav-link active" aria-current="page" href="#">View Account</a>
            </li>
            <li class="nav-item">
              <a routerLink="create-account" routerLinkActive="active" class="nav-link" href="#">Create Account</a>
            </li>
            <li class="nav-item">
              <a routerLink="reports" routerLinkActive="active" class="nav-link" href="#">Reports</a>
            <li>
               <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"></li>
               &nbsp;&nbsp;
               <li>
                  <button class="btn btn-outline-success" type="submit">Search</button>
               </li>
          </ul>
        </div>
      </div>
    </nav>


   <router-outlet></router-outlet>

   <!-- <footer class="footer">
      <div class="container"><span>All rights are reserved @2023 ABC</span></div>
      
   </footer> -->

   
</div>


